.MyGuys-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
  display: flex;
  gap: 20px !important;
}

.hLayout {
    display: flex;
    gap: 6px;
    align-items: center;
}

.vLayout {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.MyGuys-counter {
  width: 100%;
    justify-content: center; 
    gap: 20px;

}

.counter-box {
    display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid #c4c4c4;
  padding: 20px;
  border-radius: 5px;
}

.counter-box-label {
  font-size: 14px;
}

.counter-box-value {
  font-size: 30px;
}


.MyGuys-selector {
  width: 100%;
}

.MyGuys-confirm-button {
  width: 200px;
  margin-left: auto !important;
}

.MyGuys-show-players {
  gap: 30px;
  align-items: flex-start

}